export(fec_stan)
export(fecr_stan)
export(fecrtCI)
export(simData1s)
export(simData2s)
export(stan2mcmc)
export(fecr_probability)
import(Rcpp)
import(methods)
import(stats)
import(testthat)
importFrom(boot,boot)
importFrom(boot,boot.ci)
importFrom(coda,mcmc)
importFrom(coda,HPDinterval)
importFrom(utils,head)
importFrom(utils,tail)
importFrom(rstan,constrain_pars)
importFrom(rstan,extract)
importFrom(rstan,extract_sparse_parts)
importFrom(rstan,get_posterior_mean)
importFrom(rstan,optimizing)
importFrom(rstan,quietgg)
importFrom(rstan,sampling)
importFrom(rstan,stan_ac)
importFrom(rstan,stan_dens)
importFrom(rstan,stan_diag)
importFrom(rstan,stan_ess)
importFrom(rstan,stan_hist)
importFrom(rstan,stan_mcse)
importFrom(rstan,stan_par)
importFrom(rstan,stan_plot)
importFrom(rstan,stan_rhat)
importFrom(rstan,stan_scat)
importFrom(rstan,stan_trace)
importFrom(rstan,stanc)
importFrom(rstan,stan_model)
importFrom(numbers,mGCD)
importFrom(numbers,GCD)
useDynLib(eggCounts, .registration = TRUE)
