export(fec_stan)
export(fecr_stan)
export(fecr_stanExtra)
export(fecr_stanSimple)
export(fecrtCI)
export(simData1s)
export(simData2s)
export(stan2mcmc)
export(fecr_probs)
export(plotCounts)
export(getPrior_mu)
export(getPrior_delta)
import(Rcpp)
import(methods)
import(stats)
import(testthat)
import(graphics)
import(rstan)
importFrom(rootSolve, multiroot)
importFrom(lattice,xyplot)
importFrom(boot,boot)
importFrom(boot,boot.ci)
importFrom(coda,mcmc)
importFrom(coda,HPDinterval)
importFrom(utils,head)
importFrom(utils,tail)
importFrom(numbers,mGCD)
importFrom(numbers,GCD)
useDynLib(eggCounts, .registration = TRUE)
